/* body{
    background-image:url('../image/logo_dgsr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity:1;
} */

.arriere{
    background-image:url('../image/logo_dgsr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity:1;
}

.avant{
    background-image:url('../image/logo_dgsr_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 1;
    -moz-opacity:1;
}

.filigrane{
    /* background-image:url('../image/logo_dgsr_2.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity:1;
}

.login_center{
    margin: 0;
    width: 800px;
    height: 385px;
    /*border: 3px solid green;*/
    padding: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: silver;
    vertical-align: middle;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    transform: translate(-50%, -50%);
}

.fond_bar_entete{
    background: dodgerblue;
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
}

.marge_menu{
    margin-left: 5px;
}

.box{
    background-color: white;
    border-top: 5px solid dodgerblue;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.box-header{
    text-align: center;    
    margin: auto; 
    padding: auto;
    font-weight: bold;
    font-size: 30px;
}

.marge-elts{
    margin-top: 20px;
    margin-bottom: 20px;
}

.entete-formulaire{
    text-align: left;    
    margin: auto; 
    padding: auto;
    font-weight: bold;
    font-size: 16px;
}

.bordure{
    border-width: 0px;    
    margin: 0px; 
    padding: 0px;
}